
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', 'Century Gothic';
  }
  *,
  *::before,
  *::after{
    box-sizing: border-box;
  }
/*-----------------------------------------------------------------------------*/

::-webkit-scrollbar{
  width: 1em;
}
::-webkit-scrollbar-track{
  background: rgb(28, 28, 28);
}
::-webkit-scrollbar-thumb{
  background: rgb(76, 81, 144);
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(106, 112, 197);
  border-radius: 100vw;
}

/*-----------------------------------------------------------------------------*/
  body {
    background: rgb(192, 187, 156);
    height: 100%;
    overflow-x: hidden;
  }
/*-----------------------------------------------------------------------------*/
  .preloader{
    position: fixed;
    z-index: 100000000000000;
    background: rgb(192, 187, 156);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    opacity: 1;
    pointer-events: all;
  }
  .preloader img{
    height: 250px;
    width: 350px;
  }
  .preloader-finish{
    transition: .5s ease;
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transform: translateY(-100vh);
  }
/*-----------------------------------------------------------------------------*/
  .page-content{
    transform: translateY(0rem);
  }
/*-----------------------------------------------------------------------------*/
  nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background: rgb(192, 187, 156);
    transition: .4s ease;
    width: 100%;
    z-index: 100000000;
    box-shadow:  0px 5px 35px rgba(56, 56, 56, 0.514);
  }

  .logo svg{
    width: 250px;
    height: 50px;
  }
  .logo svg .path{
    cursor: pointer;
  }


  .logo{
    z-index: 100000;
  }



/*-----------------------------------------------------------------------------*/

.infos{
  width: 100%;
  height: calc(100vh - 7rem);
  background-image: url(../img/W2.JPG);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(1.2) brightness(.75);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
}
.infos-content{
  color: rgb(255, 255, 255);
  padding: 60px;
  margin: 60px 0 60px 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 35px;
  transition: .5s ease;
}
.infos-content:hover{
  transform: scale(1.05);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.541);
}
@supports (backdrop-filter: blur(5px)){
  .infos-content{
    background: rgba(0, 0, 0, 0.185);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    transition: .5s ease;
  }
  .infos-content:hover{
    transform: scale(1.05);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.541);
  }
}

.infos h1{
  margin-bottom: 20px;
} 

.news{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 100%;
  background: rgb(28, 28, 28);
  color: white;
  overflow-x: hidden;
}
.news p{
  font-size: 20px;
  position: absolute;
  transition: .5s ease;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------*/

.product-overview{
  height: 100vh;
  width: 100%;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  min-height: 40rem;
}

.special{
  position: absolute;
  top: 1rem;
  color: rgb(0, 0, 0);
}

section{
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  display: flex;
  width: 25vw;
  height: 100vh;
  min-height: 40rem;
  perspective: 1500px;
}

@media screen and (max-width: 1920px){

  .product-overview{
    height: 100%;
    width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
  }
  section{
    flex: none;
    scroll-snap-align: start;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25vw;
    height: 100vh;
  }
}



.Wintertraum{
  color: #000;
  background: linear-gradient(to left, rgb(177, 104, 36), rgb(177, 104, 36),rgb(135, 138, 92));
}
.Vitapu{
  color: #000;
  background: linear-gradient(to left, rgb(153, 88, 72), rgb(153, 88, 72), rgb(177, 104, 36));
}
.Apple{
  color: #000;
  background: linear-gradient(to left, rgb(135, 138, 92), rgb(153, 88, 72));
}
.Pear{
  color: #000;
  background: linear-gradient(to left, rgb(135, 138, 92),rgb(135, 138, 92));
}
.Peach{
  color: #000;
  background: linear-gradient(to left, rgb(189, 138, 43),rgb(135, 138, 92));
}
.Orange{
  color: #000;
  background: linear-gradient(to left, rgb(216, 158, 0),rgb(189, 138, 43));
}
/*------------------------*/
  .card{
    min-height: 35rem;
    height: 60%;
    width: 80%;
    max-width: 40rem;
    position: absolute;
    transform-style: preserve-3d;
    transition: .75s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    outline: none;
    border: none;
  }
    .card:focus{
    transform: rotateY(180deg) scale(1.05);
    transition: .75s ease;
  } 
  /*------------------------*/
  .nv, 
  .ip{
    width: 100%;
    height: 3rem;
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    padding: 10px;
    background: black;
    transition: .3s ease;
    transition-delay: 1s;
    z-index: 1000;
  }
  .v{
    color: rgb(107, 255, 87);
  }
  .nv{
    color: red;
  }
  .ip{
    color: yellow;
  }
  .cardFront:hover .nv,
  .cardFront:hover .ip{
    background: rgb(28, 28, 28);
    transform: translateY(-3rem);
    transition: .2s;
  }
  .card:focus .nhv,
  .card:focus .ip{
    background: rgb(28, 28, 28);
    transform: translateY(-3rem);
    transition: .2s;
  }

  /*------------------------*/
  .card:focus .cardBack{
    transition-delay: 0.375s;
    opacity: 1;
    z-index: 10;
    transition: 0s;
  }
  .card:focus .cardFront{
    pointer-events: none;
    transition: 0.01s;
    transition-delay: 0.375s;
    opacity: 0;
  } 
  /*------------------------*/
  .card:focus .cardBack h1{
    transform: translateY(0px);
    transition: .4s ease;
    transition-delay: .5s;
    opacity: 1;
  }
  .card .cardBack h1{
    transform: translateY(-50px);
    transition: .4s ease;
    opacity: 0;
  }
  /*------------------------*/
  .card:focus .cardBack p{
    transform: translateY(0px);
    transition: .4s ease;
    transition-delay: .5s;
    opacity: 1;
    transition-delay: .75s;
  }
  .card .cardBack p{
    transform: translate(-20px);
    transition: .2s ease;
    opacity: 0;
  }
  /*------------------------*/
  .cardFront{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 20px;
    border: solid black 1px;
    box-shadow: 0px 0px 20px rgba(59, 59, 59, 0.863);
    border-radius: 35px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: .5s ease;
    flex-direction: column;
    text-align: center;
    outline: none;
    z-index: 10;
    opacity: 1;
    background: linear-gradient(to left, 
    rgba(0, 0, 0, 0.0), 
    rgba(204, 204, 204, 0.1) 40%, 
    rgba(0, 0, 0, 0.0));
    background-size: 500%;
    background-position: left;
  }
  .cardFront:hover{
    transition: .5s ease;
    transform: translateY(-7px) rotateY(10deg);
    box-shadow: 0px 7px 40px rgba(59, 59, 59, 0.863);
    background-size: 100%;
    background-position: right;
  }

  .cardFront h1{
    padding: 20px;
    letter-spacing: 0px;
  }
/*------------------------*/
  .card:focus .cardFront h1{
    transform: translateX(-30px);
    transition: .4s ease;
    transition-delay: .5s;
    opacity: 0;
  }
  .card .cardFront h1{
    transform: translateX(0px);
    transition: .4s ease;
    transition-delay: .7s;
    opacity: 1;
  }
/*------------------------*/
  .card:focus .cardFront p{
    transform: translateX(30px);
    transition: .4s ease;
    transition-delay: .5s;
    opacity: 0;
  }
  .card .cardFront p{
    transform: translateX(0px);
    transition: .4s ease;
    transition-delay: .85s;
    opacity: 1;
  }
/*------------------------*/
  .card:focus .cardFront img{
    transform: translateY(30px);
    transition: .4s ease;
    transition-delay: .4s;
    opacity: 0;
  }
  .card .cardFront img{
    transform: translateY(0px);
    transition: .4s ease;
    transition-delay: .5s;
    opacity: 1;
  }
  /*------------------------*/
  .cardFront h1{
    padding: 20px;
  }
  .cardFront img{
    object-fit: cover;
    object-position: top;
    width: 130px;
    height: 300px;
    margin-bottom: 25px;
    margin-top: 5rem;
  } 

/*------------------------*/
  .cardBack{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    backface-visibility: hidden;    
    pointer-events: all;
    outline: none;
    border: none;
    border: solid black 1px;
    border-radius: 35px;
    height: 100%;
    width: 100%;
    padding: 20px;
    color: rgb(255, 255, 255); 
    background: rgb(28, 28, 28);  
    transform: rotateY(180deg);
    opacity: 0;
    transition: 0s;
    transition-delay: 0.375s;
    z-index: 5;
  }
  .cardBack h1{
    padding: 50px;
  }

/*-----------------------------------------------------------------------------*/

  .nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    transition: all 1s ease;
  }

  
  .nav-links li{
    list-style: none;
  }
  
  .nav-links a{
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 4px;
    transition: all 0.4s ease;
    font-weight: lighter;
    border-radius: 35px;
  }

  .nav-links a:hover{
    letter-spacing: 2px;
    transition: all 0.2s ease;
    text-decoration: none;
    font-style: bold;
    color: rgb(0, 0, 0);
  }

  /*-----------------------------------------------------------------------------*/
  .burger{
    display: none;
    cursor: pointer;
    transition: .5s ease;
    z-index: 10000;
    margin-right: 5%;
    opacity: 1;
  }

  .burger div{
    width: 25px;
    height: 3px;
    background: rgb(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    margin: 5px;
    border-radius: 100vw;
  }

  .line2{
    transform: translateX(-5px) ;
    transition: .5s ease;
  }
  .line3{
    transform: translateX(5px) ;
    transition: .5s ease;
  }

 .toggle .line1{
    transform: rotate(-45deg) translate(-10px, 6.75px);
    border-radius: 100vw;
  }
  .toggle .line2{
    opacity: .3;
    width: 0px;
    transform: translateX(75px);
    pointer-events: none;
    border-radius: 100vw;
  }
  .toggle .line3{
    opacity: .3;
    width: 0px;
    transform: translateX(-50px);
    pointer-events: none;
    border-radius: 100vw;
  }
  .toggle .line4{
    transform: rotate(45deg) translate(-10px, -6.75px);
    border-radius: 100vw;
  }
  /*-----------------------------------------------------------------------------*/

  @media screen and (max-width: 1800px){

    .product-overview{
      height: 100%;
      width: 100%;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      display: flex;
    }
    section{
      flex: none;
      scroll-snap-align: start;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 50vw;
      height: 100vh;
    }
  }
/*-----------------------------------------------------------------------------*/
  @media screen and (max-width: 500px){
    .logo svg{
      width: 200px;
      height: 40px;
    } 
    .cardFront img{
      object-fit: cover;
      object-position: top;
      width: 90px;
      height: 200px;
      margin-bottom: 15px;
    } 
   }

/*-----------------------------------------------------------------------------*/
  @media screen and (max-width: 1024px){
   ::-webkit-scrollbar{
    width: .5em;
  }

  .infos-content{
    padding: 20px;
    }

    .product-overview{
      height: 100%;
      width: 100%;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      display: flex;
    }

    section{
      flex: none;
      scroll-snap-align: start;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100vw;
      height: 100vh;
    }
    
    .cardFront:hover{
      transform: translateY(0px) rotateX(0deg);
      box-shadow: 0px 0px 20px rgba(59, 59, 59, 0.863);
      background: linear-gradient(to left, 
     rgba(0, 0, 0, 0.0), 
     rgba(204, 204, 204, 0.1) 40%, 
     rgba(0, 0, 0, 0.0));
     background-size: 500%;
     background-position: left;
     transition: .5s ease;
    }

    .nav-links{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: absolute;
      height: 4rem;     
      width: 100%;
      top: 4rem;
      transform: translateY(-100%);
      background: rgb(192,187,156);
      transition: .4s ease; 
      opacity: 1;
      z-index: 1;
      pointer-events: none; 
    }
    .nav-links li{
      transition: .4s ease;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 20vw;
      min-width: fit-content;
      padding: 10px;
      cursor: pointer;
      border-radius: 100vw;
      border: solid black 1px;
      box-shadow: 0px 0px 10px rgba(59, 59, 59, 0.863);
    }
    .nav-links li a{
      transition: 0.2s ease;
      color:rgb(0, 0, 0);
      font-size: 14px;
      letter-spacing: 0px;
      font-weight: bold;
    }
    .nav-links li:hover{
      background: rgb(59, 59, 59);
      border: solid rgb(59, 59, 59) 1px;
      transition: 0.2s ease;
    }
    .nav-links li:hover a{
      letter-spacing: 0px;
      color: rgb(255, 255, 255);
      transition: 0.2s ease;
    }

    .nav-links li:active{
      box-shadow: 0px 0px 20px rgb(59, 59, 59);
      transition: 0s;
    }
  
    .nav-links li{
      opacity: 0;
    }
    .burger{
      display: block;
      opacity: 0.75;
      transition: 0.5s ease;
    }
  }
/*-----------------------------------------------------------------------------*/

   .nav-active{
    transform: translateY(-1%);
    border-radius: 0 0 35px 35px;
    pointer-events: all;
  }

  /*-----------------------------------------------------------------------------*/

  @keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(-20px) scale(.5) rotate(-5deg);

    }
    to{
        opacity: 1;
        transform: translateX(0px) scale(1) rotate(0deg);
    }
  }

/*-----------------------------------------------------------------------------*/

.transition{
  height: 100%;
  width: 100%;
  background: rgb(28, 28, 28);
  color: white;
}
.transition video{
  height: 100%;
  width: 100%;
}

/*-----------------------------------------------------------------------------*/

.production{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, rgb(38, 26, 66), rgb(29, 38, 80));
  font-size: 1em;
  padding: 10px;
}


/*-----------------------------------------------------------------------------*/

.about{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, rgb(29, 38, 80), rgb(26, 36, 95));
  font-size: 1em;
  padding: 10px;
}
#We_img{
  max-width: 60rem;
  width: 90vw;
  margin-top: 20px;
  border-radius: 1vw;
}

/*-----------------------------------------------------------------------------*/

.contact{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, rgb(26, 36, 95), rgb(38, 26, 66));
  font-size: 1em;
  padding: 10px;
}

.Feedback,
.btn{
  width: 80vw;
  max-width: 85rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  outline: none;
  border: none;
  font-size: 1.25em;
  border-radius: 35px;
  padding: 18px;
  color: rgb(255, 255, 255);
  transition: .25s ease;
}
textarea{
  height: 10rem;
}
.btn{
  padding: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0s;
}
.btn:hover{
  background: rgb(20, 20, 20);
  transition: 0s;
}

/*--------------------------*/

.text{
  margin-top: 50px;
  color: rgb(255, 255, 255);
  border-radius: 35px;
  padding: 20px;
  max-width: 75rem;
  font-size: 1.25rem;
  font-family: 'Poppins';
}

.link{
  color: white;
  text-decoration: underline;
}
.heading{
  position: sticky;
  top: 5rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 5px;
  border-radius: 100vw;
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/*-----------------------------------------------------------------------------*/

.bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px;
}
#big{
  font-size: 1.25em;
  margin: 30px;
}
#enjoy{
  font-family: 'Lobster', 'Amethyst';
}

a{
  font-family: 'Poppins', 'Century Gothic';
  font-weight: bold;
  font-size: 1em;
}
p{
  font-family: 'Poppins', 'Century Gothic';
  font-weight: bold;
  font-size: 1em;
}
h3,h2{
  font-family: 'Poppins', 'Century Gothic';
  font-weight: lighter;
  font-size: 1.5em;
}
h1{
  font-family: 'Lobster', 'Century Gothic';
  font-weight: lighter;
  font-size: 2em;
}

/*-----------------------------------------------------------------------------*/


      
    
  
      
